In [ ]:
#boolean datatype

In [1]:
bool()

False

In [2]:
my_str = 'Hello world'
my_example = 'morning'
my_str.isalnum()

False

In [ ]:
#to see all the functions related to boolean press tab

In [6]:
my_str.isalpha()

False

In [7]:
my_str.istitle()

False

In [8]:
my_str.islower()

False

In [9]:
my_str.isalnum() or my_example.islower()

True

# list in python

In [10]:
lst = []
type(lst)

list

In [11]:
lst = list()
type(lst)

list

In [12]:
lst = ['hello','anandi',100,200,300]
print(lst)

['hello', 'anandi', 100, 200, 300]

In [ ]:
#indexing in lists

In [13]:
lst[2]

100

In [14]:
lst[:]

['hello', 'anandi', 100, 200, 300]

In [15]:
lst[2:4]

[100, 200]

# Appending in the list

In [16]:
lst.append('Deepu')

In [32]:
lst *2 # it will print the list 2 times n append

[1, 1, 3, 5, 6, 0, 0, 1, 1, 3, 5, 6, 0, 0]

In [18]:
lst.append(['apple','mango','strawberry']) #creates a nested list when we add more than one item in an list

In [19]:
lst

['hello', 'anandi', 100, 200, 300, 'Deepu', ['apple', 'mango', 'strawberry']]

# Inserting item at a specific index

In [20]:
lst.insert(1,'blueberry')
lst

['hello',
 'blueberry',
 'anandi',
 100,
 200,
 300,
 'Deepu',
 ['apple', 'mango', 'strawberry']]

In [21]:
#here we use extend function to avaoid nested list
lst.extend([10,20])
lst

['hello',
 'blueberry',
 'anandi',
 100,
 200,
 300,
 'Deepu',
 ['apple', 'mango', 'strawberry'],
 10,
 20]

# various operations on lists

In [22]:
lst = [10,20,30,100]

In [24]:
sum(lst)  #sum function on list

160

In [25]:
#pop function on lists

lst.pop()  #by default it will pop the last element from the list

100

In [26]:
lst

[10, 20, 30]

In [27]:
#we can also give the index of the item in an list to be poped out
lst.pop(0)
lst       #in the output 10 is poped out

[20, 30]

Count() function --> calculates the total number of given occurance of a list

In [28]:
lst = [1,1,3,5,6,0,0]

In [29]:
lst.count(1) #item 1 is repeated 2 times so output is 2

2

#min and max element in the list

In [30]:
min(lst)

0

In [31]:
max(lst)

6