# SETS
    A set is a unordered collection datatype that is iterable,mutable and has no duplicate elements. Python's class represents the mathematical notion of a set. This is based on the datastructure known as hash table

# Indexing cannot be done in sets

In [1]:
#we can define the set in two ways
set_var = set()     #to define an empty set

In [17]:
set_varr = {} #another way to define a set

In [3]:
type(set_var)

set

In [4]:
set_var = {1,2,3,4,4} #to define a set with elements

In [5]:
set_var   #even though the number '4' is repested in the above defined set while printing we are displayed only once this is an advantage

{1, 2, 3, 4}

In [12]:
#in built functions in sets
set_var1 = {'english','kannada','hindi','tamil'}
set_var2 = {'tamil','english'}

In [8]:
#difference function in sets
set_var1.difference_update(set_var2)  #differnce_update changes the updated value in an set
print(set_var1)

{'hindi', 'kannada'}

In [13]:
set_var1.intersection(set_var2) #intersection in set

{'english', 'tamil'}

In [14]:
set_var1.union(set_var2) #union of sets

{'english', 'hindi', 'kannada', 'tamil'}

In [16]:
#indexing in sets
set_var1(0)

TypeError: 'set' object is not callable

# Dictionaries 
    A dictionary is a collection in which elements are unordered , changeble and indexed. In python dictionary are written using curly braces with keys and values(seperated by colon:)

In [19]:
dict = {}
type(dict)

dict

In [20]:
dict = {1,2,3,4}
type(dict)   #here if we use just the curly braces it gives the datstype a set

set

In [21]:
my_dict = {"car1":'skoda','car2':'audi','car3':'volvo'}

In [22]:
my_dict

{'car1': 'skoda', 'car2': 'audi', 'car3': 'volvo'}

In [24]:
#retrieving the keys using for loop
for x in my_dict:
    print(x)

car1
car2
car3

In [25]:
#retieving the values of the key using for loop by values function
for x in my_dict.values():   #here values()-->is an inbuilt function to retrieve the values associated with key
    print(x)

skoda
audi
volvo

In [26]:
#retrieving the entire dictinary using for loop by item function
for x in my_dict.items():
    print(x)

('car1', 'skoda')
('car2', 'audi')
('car3', 'volvo')

# note that whenever you take a data structure find whether indexing can be done with it or not

In [27]:
#appending a new key and values to the dictionary
my_dict['car4'] = 'BMW'

In [28]:
my_dict #here the car4 is appended to the dictionary

{'car1': 'skoda', 'car2': 'audi', 'car3': 'volvo', 'car4': 'BMW'}

In [30]:
#when we try to give the existing key a different value than that key value is overidded by the new value given
my_dict['car1'] = 'Benz'
print(my_dict) #below the value(skoda) of key car1 is replaced by benz

{'car1': 'Benz', 'car2': 'audi', 'car3': 'volvo', 'car4': 'BMW'}

# Nested Dictionary

In [32]:
#dictionary inside a dictionary is called as nested dictinary
car_model1 = {'skoda':'1989'}
car_model2 = {'audi':'1990'}
car_model3 = {'benz':'1880'}
cars = {'car1':car_model1, 'car2':car_model2,'car3':car_model3}

In [33]:
print(cars)  #here the each key as a model details ie nested dictionary

{'car1': {'skoda': '1989'}, 'car2': {'audi': '1990'}, 'car3': {'benz': '1880'}}

In [36]:
#to access the nested dictinary using indexing
cars['car1']

{'skoda': '1989'}

In [37]:
#to acces the nested dictinary value we use
cars['car1']['skoda']

'1989'

# Tuples
    Tuples are the datastructure in which the elemnts are imutable ie we cannot change the elements once we define it
    * bt the whole tuple can be changed

In [39]:
#we define the tuple by using parentesis
tup = tuple()
type(tup)

tuple

In [43]:
Names = ('Anandi','Deepu','Dhanush')
Names

('Anandi', 'Deepu', 'Dhanush')

In [41]:
#indexing in tuples
Names[0]

'Anandi'

In [42]:
#when we try to change the elemnts in the tuple then
Names[0] = 'anandi'
#it throws an error

TypeError: 'tuple' object does not support item assignment

# Tuples are basically used in the application or program where the definition of program is required only once and to cahnge the whole tuple(we can't perform any opeartions on it)

In [45]:
#it has 2 inbuilt functions
#1) Count()
Names.count('Deepu')

1

In [46]:
#2) index()
Names.index('Anandi')

0